<div class="head-wrap">
    <h3 class="title-wrap os-extrabold-ts">List of events</h3>
</div>
<div id="events-list-container">
{% for key,result in results %}
    {% include "inSingFrontendBundle:EventFinder:_event_list_result.html.twig" with { event_list: result, key: key} %}
{% endfor %}
</div>
