<div class="content">
    <div class="photo-gallery gallery-fix-thumb">
        <div class="summary">
            {{ gallery.summary | raw }}
        </div>
        <div class="content-slideshow">
            <div class="slideshow-container">
                <div class="gallery-t">
                        <span class="show-thumbnail">
                            <a href="{{ path('insing_frontend_gallery', {'slug': slug, 'hexId': hexId}) }}" title="Thumbnail view" class="icons ico-thumb">
                            [Thumbnail view]
                            </a>
                            <a href="{{ path('insing_frontend_gallery_slide', {'slug': slug, 'hexId': hexId}) }}" title="Gallery view" class="icons ico-gallery active">
                                [Gallery view]
                            </a>

                        </span>
                    <div class="controls" id="controls"></div>
                </div>
                <div class="loader" id="loading"></div>
                <div class="slideshow-wrap">
                    <div class="caption-container" id="caption"></div>
                    <div class="more-caption-wrap text-purple"><span class="more-caption">More</span></div>
                    <div class="slideshow" id="slideshow"></div>
                </div>
            </div>
        </div>
        <p class="courtesy"></p>
        <div class="navigation-container navigation-slide">
            <div id="thumbs" class="navigation navi-thumb">
                <a class="pageLink prev icons" href="#" title="Previous Page"></a>
                <ul class="thumbs">
                    {% if (gallery.images|length) %}
                        {% for key,item in gallery.images %}
                            <li>
                                <a class="thumb" name="photo-{{ key + 1 }}" href="{{ item.image_url }}" title="">
                                    <img src="{{ item.image_url|generateFullResourceUrl('105x78') }}" />
                                </a>
                                <div class="caption">
                                    {{ item.caption }}
                                </div>
                                <input type="hidden" value="{{ item.credit }}" class="imageCredit">
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <a class="pageLink next icons" href="#" title="Next Page"></a>
            </div>
        </div>
        <!-- .navigation-container -->
    </div>
</div>