{% extends "inSingFrontendBundle::layout.html.twig" %}
{% set classBody = '"' %}
{% block title %}Gallery Single - New InSing{% endblock %}
{% block body %}
    <div id="page-container" class="page-gallery">
        <div class="wrapper-top">
            {% block breadcrumbs %}{{ wo_render_breadcrumbs() }}{% endblock %}
        </div>
        <div class="wrapper-middle">
            <div class="middle-left">
                <div class="left-main">
                    <div class="module-article container">
                        <div class="header">
                            <div class="boilerplate-caption">
                                <i class="icon icon-cicle-dotted"></i>
                                <h2 class="title-wrap os-semibold-ts">
                                    {{ gallery.series_description | raw}}
                                </h2>
                                {# render social bar #}
                                {% include "inSingFrontendBundle:_Partial:_social_buttons_like.html.twig" with
                                {'url' : app.request.uri|removeUrlParams, 'googlePlus' : true, 'twitter' : true, 'facebook' : true} %}
                            </div>
                            <h1 class="title rs-regular-sm">{{ gallery.title | raw}}</h1>
                            <div class="info">
                                {% if gallery.author != null %}<span class="author">By {{ gallery.author }}</span>{% endif %}
                                <span class="web">{{ gallery.channel }}</span> -
                                <span class="updated">{{ change_date_update_for_article(gallery.publish_date,gallery.last_updated_date) }}</span>
                            </div>
                            <div class="fb-like" data-href="{{ app.request.uri }}" data-action="like" data-show-faces="true" data-share="false"></div>
                        </div>

                        {{ gallery_detail_all_html | raw }}

                        {% if previous_gallery == null and next_gallery == null %}
                        {% else %}
                            <div class="footer clearfix">
                                <ul class="other-article list-unstyled">
                                    {% if previous_gallery != null %}
                                        <li class="prev">
                                            <a href="{{ previous_gallery.content_url }}" class="link">
                                                <i class="icon icon-article-prev"></i>
                                            </a>
                                            <figure class="thumbnail">
                                                <a href="{{ previous_gallery.content_url }}" title><img src="{{ previous_gallery.image_url }}" alt="{{ previous_gallery.title }}"></a>
                                            </figure>
                                            <div class="info">
                                                <div class="name"><a href="{{ previous_gallery.content_url }}">{{ previous_gallery.title }}</a></div>
                                                <div class="type">{{ previous_gallery.series_name }}</div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% if next_gallery != null %}
                                        <li class="next">
                                            <a href="{{ next_gallery.content_url }}" class="link">
                                                <i class="icon icon-article-next"></i>
                                            </a>
                                            <figure class="thumbnail">
                                                <a href="{{ next_gallery.content_url }}" title><img src="{{ next_gallery.image_url }}" alt="{{ next_gallery.title }}"></a>
                                            </figure>
                                            <div class="info">
                                                <div class="name"><a href="{{ next_gallery.content_url }}">{{ next_gallery.title }}</a></div>
                                                <div class="type">{{ next_gallery.series_name }}</div>
                                            </div>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <div class="module-grid-event container">
                        {{ render(controller('inSingFrontendBundle:Common:renderOutbrain')) }}
                    </div>
                </div>
            </div>
            <aside class="middle-right">
                {% if gallery.channel|lower == 'events' or gallery.channel|lower == 'movies' or gallery.channel|lower == 'hungrygowhere.com' %}
                    {{ render(controller('inSingFrontendBundle:Common:renderFindActivity', { 'channel' : gallery.channel })) }}
                {% endif %}
                <!-- MPU ADS -->
                <div class="mpu-ads mpu-landscape">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_landscape.html.twig' %}
                </div>
                <div class="mpu-ads mpu-portrait">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_portrait.html.twig' %}
                </div>
                <div class="mpu-ads mpu-mobile">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_mobile.html.twig' %}
                </div>
                <!-- /MPU ADS -->
                <!-- submit event module -->
                {# show submit event module if article channel is events #}
                {% if gallery.channel|lower == 'events' %}
                    {{ render(controller('inSingFrontendBundle:Common:renderSubmitEventRight')) }}
                {% endif %}
            </aside>
        </div>
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=384230428379412&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

    </div>
{% endblock %}

{% block js_lib_top %}
    {{ parent() }}
    <script type="text/javascript" src="http://widgets.outbrain.com/outbrain.js"></script>
    {% if view == 'slide' %}
        {%
        javascripts filter='yui_js' output = 'bundles/insingfrontend/js/*.js'
        '@inSingFrontendBundle/Resources/public/js/jquery.history.js'
        '@inSingFrontendBundle/Resources/public/js/jquery.galleriffic.js'
        '@inSingFrontendBundle/Resources/public/js/jquery.opacityrollover.js'
        '@inSingFrontendBundle/Resources/public/js/gallery-slide.js'
        %}
        <script type="text/javascript"  src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% else %}
        {%
        javascripts filter='yui_js' output = 'bundles/insingfrontend/js/*.js'
        '@inSingFrontendBundle/Resources/public/js/jquery.history.js'
        '@inSingFrontendBundle/Resources/public/js/jquery.galleriffic.js'
        '@inSingFrontendBundle/Resources/public/js/jquery.opacityrollover.js'
        '@inSingFrontendBundle/Resources/public/js/gallery-thumb.js'
        %}
        <script type="text/javascript"  src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}
