<div class="middle-left">
    <div class="left-main">
        <div class="container">
            <div class="boilerplate-caption">
                <i class="icon icon-cicle-dotted"></i>
                <h2 class="title-wrap os-semibold-ts">SUBMIT YOUR EVENTS</h2>
            </div>
            <!--st form-->
            <form id="eventSubmitForm" name="eventSubmitForm" action="" method="post" novalidate="novalidate" class="event-submit-form" enctype="multipart/form-data">
            {#<form action="" method="post" class="event-submit-form">#}
                <div class="form-horizontal">
                    <div class="form-group">
                        <!-- control-group header -->
                        <div class="control-group header">
                            <h1 class="header-title">Event Listing</h1>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <div class="controls">
                                <!-- error list -->
                                <div class="error error-list">
                                    <ul class="list list-unstyled">
                                        <li>{{ form_errors(form.fullName) }}</li>
                                        <li>{{ form_errors(form.emailAddress) }}</li>
                                        <li>{{ form_errors(form.primaryContactNo) }}</li>
                                        <li>{{ form_errors(form.title) }}</li>
                                        <li>{{ form_errors(form.startDate) }}</li>
                                        <li>{{ form_errors(form.endDate) }}</li>
                                        <li>{{ form_errors(form.venueName) }}</li>
                                        <li>{{ form_errors(form.unitNo) }}</li>
                                        <li>{{ form_errors(form.buildingName) }}</li>
                                        <li>{{ form_errors(form.postalCode) }}</li>
                                        <li>{{ form_errors(form.eventSummary) }}</li>
                                        <li>{{ form_errors(form.termOfUse) }}</li>
                                        <li>{{ errorMessage }}</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="control-group legend">
                            <h4 class="title">Your Details</h4>
                            <div class="note">All fields marked with (<em>*</em>) must be completed</div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label"><em>*</em>Full Name:</label>
                            <div class="controls">
                                {#{{ form_label(form.fullName, 'custom label') }}#}
                                {#<input type="text" class="form-control">#}
                                {{ form_widget(form.fullName, { 'attr': {'class': 'form-control'} }) }}
                                <!-- error -->

                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label">Company or Organisation:</label>
                            <div class="controls">
                                {{ form_widget(form.companyName, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label"><em>*</em>Email Address:</label>
                            <div class="controls">
                                {{ form_widget(form.emailAddress, { 'attr': {'class': 'form-control'} }) }}
                                <!-- error -->

                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label"><em>*</em>Primary Contact Number:</label>
                            <div class="controls">
                                {{ form_widget(form.primaryContactNo, { 'attr': {'class': 'form-control'} }) }}
                                <!-- error -->

                            </div>
                        </div>
                    </div>
                    <div class="form-group border-top">
                        <!-- control-group legend -->
                        <div class="control-group legend">
                            <h4 class="title">Event Details</h4>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label"><em>*</em>Title:</label>
                            <div class="controls">
                                {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                                <!-- error -->

                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label"><em>*</em>Date(s):</label>
                            <div class="controls">
                                <div class="fromDate-panel">
                                    <div class="datepicker-control event-datepicker">
                                        {{ form_widget(form.startDate, { 'attr': {'class': 'datepicker fromDate form-control'
                                            , 'activity': 'event-datepicker', 'placeholder': 'FROM', 'readonly': 'readonly'} }) }}
                                        <i class="icon icon-calendar-small icon-fromDate"></i>
                                    </div>
                                    <!-- error -->

                                </div>
                                <div class="toDate-panel">
                                    <div class="datepicker-control">
                                        {{ form_widget(form.endDate, { 'attr': {'class': 'datepicker fromDate form-control'
                                            , 'activity': 'event-datepicker', 'placeholder': 'TO', 'readonly': 'readonly'} }) }}
                                        <i class="icon icon-calendar-small icon-toDate"></i>
                                    </div>
                                    <!-- error -->

                                </div>
                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label">Time:</label>
                            <div class="controls">
                                {{ form_widget(form.time, { 'attr': {'class': 'form-control'} }) }}
                                <!-- error -->

                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label"><em>*</em>Venue Name:</label>
                            <div class="controls">
                                {{ form_widget(form.venueName, { 'attr': {'class': 'form-control'} }) }}
                                <!-- error -->

                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label"><em>*</em>Venue Address:</label>
                            <div class="controls ">
                                <div class="group-address">
                                    <div class="panel1">
                                        {{ form_widget(form.unitNo, { 'attr': {'class': 'form-control', 'placeholder': 'UNIT NO.'} }) }}
                                        <!-- error -->

                                    </div>
                                    <div class="panel2">
                                        {{ form_widget(form.buildingName, { 'attr': {'class': 'form-control', 'placeholder': 'BUILDING NAME'} }) }}
                                        <!-- error -->

                                    </div>
                                </div>
                                <div class="group-address last">
                                    <div class="panel1">
                                        {{ form_widget(form.blockNo, { 'attr': {'class': 'form-control', 'placeholder': 'BLOCK NO.'} }) }}
                                        <!-- error -->

                                    </div>
                                    <div class="panel2">
                                        {{ form_widget(form.streetName, { 'attr': {'class': 'form-control', 'placeholder': 'STREET NAME'} }) }}
                                        <!-- error -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label"><em>*</em>Postal Code:</label>
                            <div class="controls">
                                {{ form_widget(form.postalCode, { 'attr': {'class': 'form-control'} }) }}
                                <!-- error -->

                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label">Venue Phone Number:</label>
                            <div class="controls">
                                {{ form_widget(form.venuePhoneNumber, { 'attr': {'class': 'form-control'} }) }}
                                <!-- error -->

                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label">Adult rating:</label>
                            <div class="controls">
                                <label class="iCheckbox">
                                    {{ form_widget(form.adultRating) }}
                                    <span>Yes, this is an adult-rated event</span>

                                </label>
                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label"><em>*</em>Event summary:
                                <small>Max 500 characters</small></label>
                            <div class="controls">
                                {{ form_widget(form.eventSummary, { 'attr': {'class': 'form-control', 'maxlength': 500} }) }}
                                <!-- error -->

                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label">Facebook Event IDs:</label>
                            <div class="controls">
                                {{ form_widget(form.facebookEventIds, { 'attr': {'class': 'form-control'} }) }}
                                <!-- error -->

                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label">Event URL:</label>
                            <div class="controls">
                                {{ form_widget(form.eventUrl, { 'attr': {'class': 'form-control'} }) }}
                                <!-- error -->

                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label"><em>*</em>Pricing:</label>
                            <div class="controls radio-group">
                                <div class="freeTicket">
                                    <label class="iRadio">
                                        <input type="radio" id="pricingTypeFree" name="pricingType" value="1" required>
                                        <span>Free</span>
                                    </label>

                                </div>
                                <div class="singleTicket">
                                    <label class="iRadio">
                                        <input type="radio" id="pricingTypeSingle" name="pricingType" value="2">
                                        <span>Single ticket price</span>
                                    </label>
                                    <div class="group">
                                        <label class="">$</label>
                                        <input type="text" id="singlePrice" name="singlePrice" class="form-control singlePrice-input" disabled="disabled">
                                    </div>
                                </div>
                                <div class="multiTicket">

                                    <label class="iRadio">
                                        <input type="radio" id="pricingTypeMulti" name="pricingType" value="3">
                                        <span>Multiple ticket price</span>
                                    </label>
                                    <div class="group">
                                        <div>
                                        <label class="">$</label>
                                        <input type="text" class="form-control multiplePriceMin-input" id="multiplePriceMin" name="multiplePriceMin" disabled="disabled" placeholder="FROM">
                                        </div>
                                       <div>
                                        <label class="">$</label>
                                        <input type="text" class="form-control multiplePriceMax-input" id="multiplePriceMax" name="multiplePriceMax" disabled="disabled" placeholder="TO">
                                       </div>
                                    </div>
                                </div>
                                {#<br/>#}
                                <label class="error" style="display: none;" for="pricingType">Pricing is required.</label>
                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label">Ticketing URL:</label>
                            <div class="controls">
                                {{ form_widget(form.ticketUrl, { 'attr': {'class': 'form-control', 'disabled': 'disabled'} }) }}
                                <!-- error -->

                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label">Ticketing Vendor Name:</label>
                            <div class="controls">
                                {{ form_widget(form.ticketVendorName, { 'attr': {'class': 'form-control', 'disabled': 'disabled'} }) }}
                                <!-- error -->

                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label"><em>*</em>Upload Image:</label>
                            <div class="controls">
                                <div class="form-upload">
                                    <p>Use our basic uploader to upload photos from your computer.</p>
                                    <p>Maximum of 5 photos allowed.</p>

                                    <p class="ie-no-support-multiple hide">Use our basic uploader to upload photo from your computer.<br></p>

                                    <p class='ie-no-support hide'>IE doesn't support multiple select. Please use other browsers if you want to upload more than 1 image.</p>

                                    <a href="javascript:void(0);" class="file-button button-corner-cut">
                                        <span>Select Photos</span>
                                    </a>
                                    <input id="submit_event_images" type="file" multiple="multiple" required="required"
                                           name="submit_event[images][]" accept="image/*"
                                           class="file-input"/>

                                    <p>To select multiple files, hold down the Command button.</p>
                                    <label class="error hide" for="submit_event[images][]">Images are required.</label>
                                </div>
                                <div class="upload-preview pt10" data-filesize="{{ submit_event_image_size }}">
                                    {#<img src="{{ asset('bundles/insingfrontend/images/demo/article-event-top.jpg') }}" alt="">#}
                                    {#<img src="{{ asset('bundles/insingfrontend/images/demo/featuredcast-2.jpg') }}" alt="">#}
                                    {#<img src="{{ asset('bundles/insingfrontend/images/demo/movie-photo-4.jpg') }}" alt="">#}
                                    {#<img src="{{ asset('bundles/insingfrontend/images/demo/featuredcast-4.jpg') }}" alt="">#}
                                    {#<img src="{{ asset('bundles/insingfrontend/images/demo/event-item3.jpg') }}" alt="">#}
                                </div>
                            </div>
                        </div>
                        <!-- control-group -->
                        <div class="control-group">
                            <label class="control-label"><em>*</em>Category:</label>
                            <div class="controls">
                                <div class="list-control category-list ">
                                    <ul class="list two-column">
                                        {% set isFirstItem = 1 %}
                                        {% if categories|length > 0 %}
                                        {% for item in categories %}
                                            <li>
                                                <div class="title">{{ item.name }}</div>
                                                <ul class="list">
                                                    {% if item.children|length > 0 %}
                                                        {% for child in item.children %}
                                                            <li>
                                                                <label class="iCheckbox">
                                                                    {% if isFirstItem == 1 %}
                                                                        <input type="checkbox" value="{{ child.id }}" name="subcategories[]" required minlength="1">
                                                                        {% set isFirstItem = 0 %}
                                                                    {% else %}
                                                                        <input type="checkbox" value="{{ child.id }}" name="subcategories[]">
                                                                    {% endif %}

                                                                    <span>{{ child.name }}</span>
                                                                </label>
                                                            </li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                                <!-- error -->
                                <label for="subcategories[]" class="error" style="display: none;">Category is required.</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group border-both">
                        <div class="control-group">
                            <div class="controls term-of-use">
                                <label class="iCheckbox">
                                    {{ form_widget(form.termOfUse) }}
                                    <span>I have read and understood the <a href="{{ url('insing_frontend_homepage_terms') }}" class="text-green">Terms of Use</a> of InSing.com</span>
                                </label>
                                <!-- error -->
                                <label for="submit_event[termOfUse]" class="error" style="display: none;">You must first read and understand the Terms of Use of insing.com.</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-group">
                            <div class="controls action-link">
                                <button type="submit" class="button-corner-cut green">
                                    <span>Submit</span>
                                </button>
                                <button type="button" class="button-corner-cut" onclick="window.history.back();">
                                    <span>Cancel</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_widget(form._token) }}
            </form>
            <!--ed form-->
        </div>
    </div>
</div>