{% if data is not empty %}
    {#carousel-module:#}
    {#Events : View Event | Buy Tickets / Free#}
    {#View Event: go to "event detail page"#}
    {#Buy Tickets: go to "event detail page"#}
    {#Free: go to "event detail page"#}

    {% set urlImage = '#' %}
    {% set urlTitle = '#' %}
    {% set UrlItem1 = '#' %}
    {% set UrlItem2 = '#' %}

    {% set textForUrlItem1 = '' %}
    {% set textForUrlItem2 = '' %}
    <div class="module-carousel container">
        <div id="top-carousel" class="owl-carousel">
            {% for item in data %}
                {% if item.content_type_num == 1 %}
                    {#movie#}
                    {% set urlImage = item.movie_detail_url %}
                    {% set urlTitle = item.movie_detail_url %}
                    {% set UrlItem1 = item.movie_review_url %}
                    {% set UrlItem2 = item.movie_showtime_url %}
                    {% set textForUrlItem1 = 'Read Reviews' %}
                    {% set textForUrlItem2 = 'Showtimes available' %}

                {% elseif item.content_type_num == 2 %}
                    {#event: free, buy, not (free and buy) #}
                    {% set urlImage = item.event_detail_url %}
                    {% set urlTitle = item.event_detail_url %}
                    {% set UrlItem1 = item.event_detail_url %}
                    {% set UrlItem2 = item.event_detail_url %}
                    {% set textForUrlItem1 = 'View Event' %}
                    {#Buy Tickets or Free#}
                    {% set textForUrlItem2 = 'Buy Tickets' %}
                {% elseif item.content_type_num == 3 %}
                    {#restaurant#}
                    {% set urlImage = item.restaurant_detail_url %}
                    {% set urlTitle = item.restaurant_detail_url %}
                    {% set UrlItem1 = item.restaurant_detail_url %}
                    {% set UrlItem2 = item.restaurant_book_url %}
                    {% set textForUrlItem1 = 'View Restaurant' %}
                    {% set textForUrlItem2 = 'Book a Table' %}
                {% elseif item.content_type_num == 5 %}
                    {#hungry deal#}
                    {% set urlImage = item.hungrydeal_detail_url %}
                    {% set urlTitle = item.hungrydeal_detail_url %}
                    {% set UrlItem1 = item.hungrydeal_detail_url %}
                    {% set UrlItem2 = item.hungrydeal_book_url %}
                    {% set textForUrlItem1 = 'View Deal' %}
                    {% set textForUrlItem2 = 'Book a Table' %}
                {% elseif item.content_type_num == 6 %}
                    {#article#}
                    {% set urlImage = item.article_detail_url %}
                    {% set urlTitle = item.article_detail_url %}
                    {% set UrlItem1 = item.article_detail_url %}
                    {% set UrlItem2 = '' %}
                    {% set textForUrlItem1 = 'View the Story' %}
                {% elseif item.content_type_num == 7 %}
                    {#event#}
                    {% set urlImage = item.gallery_detail_url %}
                    {% set urlTitle = item.gallery_detail_url %}
                    {% set UrlItem1 = item.gallery_detail_url %}
                    {% set UrlItem2 = '' %}
                    {% set textForUrlItem1 = 'View the Story' %}
                {% endif %}

                <div class="item {{ get_css_by(item.content_type_num, item.chanel_name) }}" slot="{{ item.slot }}">
                    <div class="caption">
                        {% for tag in item.tags %}
                            <p><span>{{ tag|trim }}</span></p>
                        {% endfor %}
                    </div>
                    <a href="{{ urlImage }}" class="item-image" title="{{ item.title }}">
                        {#w=950, h=328#}
                        <img src="{{ item.imageUrl }}" alt="{{ item.title }}">
                    </a>

                    <div class="item-info">
                        <h2 class="item-desc os-bold-ts">
                            <a href="{{ urlTitle }}" title="{{ item.title }}">{{ item.title }}</a>
                        </h2>

                        <div class="item-link">
                            {% if item.content_type_num == 6 or item.content_type_num == 7 %}
                                {#article or gallery#}
                                <a class="item-showTimes" href="javascript:void(0);" rel="nofollow"
                                   onclick="this.href='{{ UrlItem1 }}';" title="{{ textForUrlItem1 }}">{{ textForUrlItem1 }}</a>
                            {% else %}
                                {#movie, event, restaurant, hungry deal#}
                                <a class="item-readReviews" href="javascript:void(0);" rel="nofollow"
                                   onclick="this.href='{{ UrlItem1 }}';" title="{{ textForUrlItem1 }}">{{ textForUrlItem1 }}</a>
                                {% if item.content_type_num == 2 %}
                                    {#event: check free or buy ticket#}
                                    {% set text2ForEvent = 'Free' %}
                                    {% if item.event_data is buy %}
                                        {% set text2ForEvent = 'Buy Tickets' %}
                                    {% endif %}
                                    <a class="item-showTimes" href="javascript:void(0);" rel="nofollow"
                                       onclick="this.href='{{ UrlItem2 }}';" title="{{ text2ForEvent }}">{{ text2ForEvent }}</a>
                                {% else %}
                                    {#movie, restaurant, hungry deal#}
                                    {#if empty then not show#}
                                    {% if item.content_type_num == 3 %}
                                        {#restaurant#}
                                        {% if UrlItem2 == 'post'
                                            and item.tabledb_id is not empty
                                            and item.slug is not empty %}
                                            <a class="item-showTimes book_now_post"
                                               data-slug="{{ item.slug }}"
                                               data-tabledb_id="{{ item.tabledb_id }}"
                                               href="javascript:void(0);" rel="nofollow"
                                               title="{{ textForUrlItem2 }}">{{ textForUrlItem2 }}</a>
                                        {% endif %}
                                    {% else %}
                                        {#movie, hungry deal#}
                                        {% if UrlItem2 is not empty %}
                                            <a class="item-showTimes" href="javascript:void(0);" rel="nofollow"
                                               onclick="this.href='{{ UrlItem2 }}';" title="{{ textForUrlItem2 }}">{{ textForUrlItem2 }}</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {#{% set text = get_text_by(item.content_type_num) %}#}
                            {#{% if text|length == 2 %}#}
                                {#&#123;&#35;show 2 link&#35;&#125;#}
                                {#<a class="item-readReviews" href="javascript:void(0);" rel="nofollow"#}
                                   {#onclick="this.href='{{ UrlItem1 }}';" title="{{ text[0] }}">{{ text[0] }}</a>#}
                                {#{% if item.content_type_num == 2 %}#}
                                    {#&#123;&#35;event: check free or buy ticket&#35;&#125;#}
                                    {#{% set text2ForEvent = 'Free' %}#}
                                    {#{% if item.event_data is buy %}#}
                                        {#{% set text2ForEvent = 'Buy Tickets' %}#}
                                    {#{% endif %}#}
                                    {#<a class="item-showTimes" href="javascript:void(0);" rel="nofollow"#}
                                       {#onclick="this.href='{{ UrlItem2 }}';" title="{{ text2ForEvent }}">{{ text2ForEvent }}</a>#}
                                {#{% else %}#}
                                    {#&#123;&#35;if empty then not show&#35;&#125;#}
                                    {#{% if UrlItem2 is not empty %}#}
                                        {#<a class="item-showTimes" href="javascript:void(0);" rel="nofollow"#}
                                           {#onclick="this.href='{{ UrlItem2 }}';" title="{{ text[1] }}">{{ text[1] }}</a>#}
                                    {#{% endif %}#}
                                {#{% endif %}#}

                            {#{% else %}#}
                                {#&#123;&#35;show only 1 link&#35;&#125;#}
                                {#<a class="item-showTimes" href="javascript:void(0);" rel="nofollow"#}
                                   {#onclick="this.href='{{ UrlItem1 }}';" title="{{ text[0] }}">{{ text[0] }}</a>#}
                            {#{% endif %}#}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}