{% if url is not defined %}
    {% set url =  app.request.uri|removeUrlParams %}
{% endif %}

<ul class="social-list list-unstyled">
    {% if facebook is defined and facebook == true %}
    <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" target="_blank" title="Facebook">
            <i class="icon icon-facebook-fix"></i>
        </a>
    </li>
    {% endif %}

    {% if twitter is defined and twitter == true %}
    <li>
        <a href="https://twitter.com/share?url={{ app.request.uri }}" target="_blank" title="Twitter">
            <i class="icon icon-twitter-fix"></i>
        </a>
    </li>
    {% endif %}

    {% if googlePlus is defined and googlePlus == true %}
    <li>
        <a href="https://plus.google.com/share?url={{ app.request.uri }}" title="Google Plus"
           onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            <i class="icon icon-google-fix"></i>
        </a>
    </li>
    {% endif %}

</ul>
