<div class="module-grid-list top-movie container">
    <div class="header">
        <i class="icon icon-cicle-dotted"></i>
        <h1 class="title os-extrabold-sm">TOP<br/>MOVIE<br/>SHOWTIMES</h1>
        <a title="SEE MORE" href="javascript:void(0);" rel="nofollow" onclick="this.href='http://movies.insing.com'" class="btn-see-more button-corner-cut">
            <span>SEE MORE</span>
        </a>
    </div>
    <ul id="id-movie-module" class="item-list list-unstyled">
        <li class="item">
            <ul class="higher-list list-unstyled">
                {% if moviesData == true %}
                    {% for item in moviesData %}
                        <li>
                            <div class="left-pane">
                                <a title="{{ item['title'] }}" href="{{ item['movie_url'] }}" class="name">{{ item['title'] }}</a>
                                <div class="info">
                                    {% if item['classifications'] == true %}
                                        <span class="cinema">{{ item['classifications'][0]['classification']['name'] }}</span>
                                    {% endif %}

                                    {% if item['genres'] %}
                                        <span class="type">
                                            {% set genres = '' %}
                                            {% if item['genres'][0] is defined %}
                                                {{ item['genres'][0]['name'] }}{% if item['genres'][1] is defined %}, {{ item['genres'][1]['name'] }}{% endif %}
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                            <a title="SHOWTIMES" href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item['movie_url'] }}showtimes/'" class="link">SHOWTIMES</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>

{#{{ dump(newsData) }}#}

        {% if newsData == true %}
            {% set item = newsData[0] %}
            {% if item is defined %}
                <li class="item">
                    <figure class="align-focus">
                        <a href="{{ item['item_url'] }}" title="{{ item['title'] }}">
                            <img src="{{ item['default_image_url'] }}" alt="{{ item['title'] }}">
                        </a>
                    </figure>
                    <div class="entry">
                        <h4 class="title-wrap rs-regular-s"><a href="{{ item['item_url'] }}" title="{{ item['title'] }}">{{ item['title'] }}</a></h4>
                        <div class="desc">{{ item['summary'] }}</div>
                    </div>
                    {% if item['showtime_url'] is defined %}
                        <a title="SHOWTIMES" href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item['showtime_url'] }}'" class="link">SHOWTIMES</a>
                    {% endif %}
                </li>
            {% endif %}

            <li class="item">
                <div class="mpu-ads mpu-landscape">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_landscape.html.twig' %}
                </div>
                <div class="mpu-ads mpu-portrait">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_portrait.html.twig' %}
                </div>
            </li>

            {% set item = newsData[1] %}
            {% if item is defined %}
                <li class="item">
                    <figure class="align-focus">
                        <a href="{{ item['item_url'] }}" title="{{ item['title'] }}">
                            <img src="{{ item['default_image_url'] }}" alt="{{ item['title'] }}">
                        </a>
                    </figure>
                    <div class="entry">
                        <h4 class="title-wrap rs-regular-s"><a href="{{ item['item_url'] }}" title="{{ item['title'] }}">{{ item['title'] }}</a></h4>
                        <div class="desc">{{ item['summary'] }}</div>
                    </div>
                    {% if item['showtime_url'] is defined %}
                        <a title="SHOWTIMES" href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item['showtime_url'] }}'" class="link">SHOWTIMES</a>
                    {% endif %}
                </li>
            {% endif %}
        {% endif %}
    </ul>
    <div class="view">
        <a id="id-movie-expand" href="javascript:void(0);" rel="nofollow" data-url="{{ url('homepage_hidden_movie_ajax') }}">
            <span title="EXPAND" class="lbl-expand" id="id-movie-expand-span" data-textloading="LOADING..."><i class="icon icon-expand"></i>EXPAND</span>
            <span title="COLLAPSE" class="lbl-collapse" id="id-movie-collapse-span"><i class="icon icon-collapse"></i>COLLAPSE</span>
        </a>
    </div>
</div>
<div class="mpu-ads mpu-mobile">
    {% include 'inSingFrontendBundle:Gpt:_mobile_ad_unit.html.twig' %}
</div>
{#{% block bottom_javascripts %}
    {% javascripts output = 'bundles/insingfrontend/js/*.js' '@inSingFrontendBundle/Resources/public/js/hp_movie_module.js' %}
    <script type="text/javascript">
        var movie_link = "{{ url('homepage_hidden_movie_ajax') }}";
    </script>
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}#}
            