{% set flag_error = app.session.flashbag.get('error') %}
{% set flag_success = app.session.flashbag.get('success') %}

{% if flag_success is defined and flag_success|length > 0 %}
    <div class="success-area">
        {% for flashMessage in flag_success %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% if flag_error is defined and flag_error|length > 0  %}
    <div class="error-area">
        {% for flashMessage in flag_error %}
            {{flashMessage}}
        {% endfor %}
    </div>
{% endif %}