{% block form_errors %}
   {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                {{ error.messagePluralization is null ? error.messageTemplate|trans(error.messageParameters, 'validators') : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators') }}
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}