{% extends 'inSingAdminBundle::layout.html.twig' %}

{% block title %}Administrator{% endblock %}

{% block body %}
    {% if exception.code is defined  %}
        {% if exception.code == 403 %}
            <li>You have no permission to access this page.</li>
        {% elseif (exception.message is defined and exception.code > 0) %}
            <li>{{ exception.message }}</li>
        {% else %}
            <li>There was an unexpected runtime error. We are sorry for the inconvenience.</li>
        {% endif %}
    {% else %}
        <li>There was an unexpected runtime error. We are sorry for the inconvenience.</li>
    {% endif %}
{% endblock %}