{% if pageCount > 1 %}
	<div class="pagination">
		<span>
	        {% if first is defined and current == first %}
	         	<span class="inactive">previous</span>
	    	{% endif %}
	        {% if previous is defined %}
	        	<a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="prev">previous</a>
	    	{% endif %}
		    &nbsp;&nbsp;&nbsp;&laquo;&nbsp;&nbsp;&nbsp;
	    </span>

    	{% if pagesInRange is defined %}
    		<ul>
	    	{% for page in pagesInRange %}
				{% if page != current %}
                	<li><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
	        	{% else %}
                        <li class="current">{{ page }}</li>
	        	{% endif %}
	        {% endfor %}

	        </ul>
    	{% endif %}

    	<span>
            &nbsp;&nbsp;&nbsp;&raquo;&nbsp;&nbsp;&nbsp;
	        {% if next is defined %}
	        	<a href="{{ path(route, query|merge({(pageParameterName): next})) }}">next</a>
		    {% endif %}

		    {% if last is defined and current == last %}
		    	<span class="inactive">next</span>
		    {% endif %}
        </span>
    </div>
{% endif %}