{% extends 'inSingAdminBundle::layout.html.twig' %}

{% block title %}
    {% if type == 'add' %}
        Add HGW Content
    {% else %}
        Edit HGW Content
    {% endif %}
{% endblock %}

{% block body %}
    {% form_theme form 'inSingAdminBundle::form_fields.html.twig' %}

    <div class="back_content_list"><a href="{{ url('in_sing_admin_hgw') }}">Back to HGW Content List</a></div>
    <fieldset>
        <legend class="legend">
            {% if type == 'add' %}
                Add HGW Content
            {% else %}
                Edit HGW Content
            {% endif %}
        </legend>

        <div class="fieldset_container">
            {% include "inSingAdminBundle::message.html.twig" %}

            {% if type == 'add' %}
            {% set textSubmit = 'Save' %}
            <form  id='hgw_form' action="{{ url('in_sing_admin_hgw_add_new') }}" class="generic_form" method="POST" enctype="multipart/form-data">
                {% else %}
                {% set textSubmit = 'Save' %}
                <form id='hgw_form' action="{{ url('in_sing_admin_hgw_edit', {'id' : id}) }}" class="generic_form" method="POST" enctype="multipart/form-data">
                    {% endif %}

                    <div class="control-group">
                        <label class="label">
                            {{ form_widget(form.content_type) }}
                        </label>
                        <div class="control">
                            {{ form_widget(form.item_id) }}
                            <div class="error" id="error-content-id">{{ form_errors(form.item_id) }}</div>

                            <div class="mt5">
                                <input type="button" id="button-get-content" name="Get Content" value="Get Content" />
                                <input type="hidden" id="get-content-url" value="{{ url('in_sing_admin_get_content') }}" />
                            <span id="img-loading" class="loading" style="display: none;">
                                <img src="/bundles/insingadmin/images/load.gif" />
                            </span>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="label">
                            Title <em>*</em>
                        </label>
                        <div class="control">
                            {{ form_widget(form.title) }}
                            <div class="error">{{ form_errors(form.title) }}</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="label">
                            Description <em>*</em>
                        </label>
                        <div class="control">
                            {{ form_widget(form.description) }}
                            <div class="error">{{ form_errors(form.description) }}</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="label">
                            Channel
                        </label>
                        <div class="control">
                            {{ form_widget(form.channel_name) }}
                            {#<div class="error">{{ form_errors(form.channel_name) }}</div>#}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="label">
                            Content URL
                        </label>
                        <div class="control">
                            {{ form_widget(form.content_url) }}
                            <div class="error">{{ form_errors(form.content_url) }}</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="label">
                            Image
                        </label>
                        <div class="control">
                            {{ form_widget(form.image_url) }}
                            <div class="error">{{ form_errors(form.image_url) }}</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="label">
                            Editor
                        </label>
                        <div class="control">
                            {{ form_widget(form.editor) }}
                            <div class="error">{{ form_errors(form.editor) }}</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="label">
                            Slot <em>*</em>
                        </label>
                        <div class="control">
                            {{ form_widget(form.slot) }}
                            <div class="error">{{ form_errors(form.slot) }}</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="label">
                            Publish On <em>*</em>
                        </label>
                        <div class="control">
                            {{ form_widget(form.publish_on) }}
                            {#<span class="calendar-trigger" id="published_date_time_trigger"></span>#}
                            <div class="error">{{ form_errors(form.publish_on) }}</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="label">
                            Expire On
                        </label>
                        <div class="control">
                            {{ form_widget(form.expire_on) }}
                            <div class="error">{{ form_errors(form.expire_on) }}</div>

                            <div class="mt10">
                                <input type="button" value="Cancel" id="form_cancel" />
                                <input type="button" value="{{ textSubmit }}" id="form_submit" />
                            </div>
                        </div>
                    </div>

                    {{ form_widget(form.module) }}
                    {{ form_widget(form.deal_id) }}
                    {{ form_widget(form.tabledb_id) }}
                    {{ form_widget(form.slug) }}
                    {{ form_widget(form.event_data) }}
                    {{ form_widget(form.series_seo_url) }}
                    {{ form_row(form._token) }}
                </form>
        </div>
    </fieldset>

    <div id="expire_on_dialog" title="Confirmation Required" style="display: none;">
        This action will set your article to Expired status. Proceed?
    </div>

    <div id="submit_dialog" title="Confirmation Required" style="display: none;">
        Would you like publish this content without an image?
    </div>

{% endblock %}

{% block bottom_javascripts %}
    {%
    javascripts output = 'bundles/insingadmin/js/*.js'
    '@inSingAdminBundle/Resources/public/js/jquery-ui-timepicker-addon.js'
    '@inSingAdminBundle/Resources/public/js/content.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $now = new Date("{{"now"|date("d M Y")}}");

        $(document).ready(function() {
            $currentUrl = $(location).attr('href');
            $exire_on = $('#admin_content_expire_on').val();

            $("#admin_content_publish_on").datepicker({
                dateFormat: "dd M yy",
                showButtonPanel: true,
                showOn: "button",
                buttonImage: "{{ asset('bundles/insingadmin/images/calendar.png') }}",
                buttonText: "Datepicker",
                minDate: $now,
                buttonImageOnly: true,
                pickTime : false
            });

            $("#admin_content_expire_on").datepicker({
                dateFormat: "dd M yy",
                showButtonPanel: true,
                showOn: "button",
                buttonImage: "{{ asset('bundles/insingadmin/images/calendar.png') }}",
                buttonText: "Datepicker",
                buttonImageOnly: true,
                pickTime : false,
                onClose: function(date) {
                    $expire_date = new Date(date);

                    if ($expire_date < $now ) {

                        $("#expire_on_dialog").dialog({
                            modal : true,
                            open: function() {                         // open event handler
                                $(this)                                // the element being dialogged
                                        .parent()                          // get the dialog widget element
                                        .find(".ui-dialog-titlebar-close") // find the close button for this dialog
                                        .hide();                           // hide it
                            },
                            buttons : {
                                "Continue" : function() {
                                    $(this).dialog("close");
                                },
                                "Cancel" : function() {
                                    $('#admin_content_expire_on').val($exire_on);
                                    $(this).dialog("close");
                                }
                            }
                        });
                    }
                }
            });

            //submit form
            //check image url, if not blank then save, if image is blank then go back page
            $('#form_submit').click(function(){
                $content_title = $('#admin_content_title').val();
                $content_id =  $('#admin_content_item_id').val();
                $content_description = $('#admin_content_description').val();
                $content_channel = $('#admin_content_channel_name').val();
                $content_publish = $('#admin_content_publish_on').val();
                $content_slot = $('#admin_content_slot').val();
                $content_image = $('#admin_content_image_url').val();

                if ($content_title != '' && $content_id != '' && $content_description != '' &&
                        $content_channel != '' &&  $content_publish != '' &&  $content_slot != '') {

                    if ($content_image == '') {
                        //show confirmation popup
                        $("#submit_dialog").dialog({
                            modal: true,
                            open: function () {                         // open event handler
                                $(this)                                // the element being dialogged
                                        .parent()                          // get the dialog widget element
                                        .find(".ui-dialog-titlebar-close") // find the close button for this dialog
                                        .hide();                           // hide it
                            },
                            buttons: {
                                "Yes": function () {
                                    $(this).dialog("close");
                                    $('#hgw_form').submit();
                                },
                                "No": function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    } else {
                        $('#hgw_form').submit();
                    }
                } else {
                    $('#hgw_form').submit();
                }

            });

            //load page again when click cancel button
            $('#form_cancel').click(function(){
                location.href = $currentUrl;
            });

        });
    </script>
{% endblock %}