<footer id="page-footer" class="clearfix">
    <div class="fbg"><i class="icon icon-cicle-haft-dotted"></i></div>
    <div class="channels hidden-xs">
        <div class="links">
            <div class="item overview">
                <h5>inSing.com</h5>
                <p class="desc-site">{{ getParameter('insing_frontend_about_us_footer_text') }}</p>
            </div>
            <!-- /.hf-item -->
            <div class="item">
                <h5>About inSing.com</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ path('insing_frontend_homepage_about_us') }}" title="About Us"><span>About Us</span></a></li>
                    <li><a href="{{ path('insing_frontend_homepage_contact-us') }}" title="Contact Us"><span>Contact Us</span></a></li>
                    <li><a rel="nofollow" href="http://careers.insing.com/" title="Careers"><span>Careers</span></a></li>
                    <li><a href="{{ path('insing_frontend_homepage_faq') }}" title="FAQ"><span>FAQ</span></a></li>
                    <li><a href="{{ path('insing_frontend_homepage_sitemap') }}" title="Site Map"><span>Site Map</span></a></li>
                    <li><a rel="nofollow" href="http://newsletter.insing.com/subscribeNewsletter.do" title="Subscribe to inSing" target="_blank"><span>Subscribe to inSing</span></a></li>
                </ul>
            </div>
            <!-- /.hf-item -->
            <div class="item">
                <h5><a href="http://www.singtel-digital.com/">Advertise with us</a></h5>
                <ul class="list-unstyled">
                    <li><a href="http://www.singtel-digital.com/solutions-and-services/display-advertising/" title="Display Advertising" rel="nofollow"><span>Display Advertising</span></a></li>
                    <li><a href="mailto:bizandservicefinder@insing.com" title="Business Listing & Search" rel="nofollow"><span>Business Listing & Search</span></a></li>
                    <li><a href="mailto:advertising@hungrygowhere.com" title="HungryGoWhere" rel="nofollow"><span>HungryGoWhere</span></a></li>
                </ul>
            </div>
            <!-- /.hf-item -->
            <div class="item following">
                <h5>Follow inSing</h5>
                <ul class="social-share list-unstyled">
                    <li>
                        <a href="javascript:void(0);"  rel="nofollow" onclick="this.href='http://www.facebook.com/insing';" title="Become a fan on Facebook" class="icon icon-facebook"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"  rel="nofollow" onclick="this.href='http://twitter.com/inSingBuddy'"  title="Follow us on Twitter" class="icon icon-twitter"></a>
                    </li>

                </ul>
            </div>
            <!-- /.item -->
        </div>
        <!-- /#links -->
    </div>
    <!-- /#channels -->
    <div class="site-info clearfix">
        <p class="copyright">© 2015, Singtel Digital Media Pte Ltd.<span> All Rights Reserved.</span></p>
        <ul class="policy list-unstyled">
            <li><a href="{{ path('insing_frontend_homepage_terms') }}" title="Terms of Use" rel="nofollow"><span>Terms of Use</span></a>
            </li>
            <li><a href="{{ path('insing_frontend_homepage_disclaimers') }}" title="Disclaimers" rel="nofollow"><span>Disclaimers</span></a></li>
            <li><a href="{{ path('insing_frontend_homepage_review_policy') }}" title="Review Policy" rel="nofollow"><span>Review Policy</span></a></li>
        </ul>
    </div>
    <!-- /#site-info -->
</footer>
