<div style="float: left; width: 100%;margin-top: 50px;margin-left: 50px;">
	<form action="" method="post">
	    Session Token: <input type="text" name="sessiontoken" style="width: 300px;"
	    value="{% if sessiontoken %}{{ sessiontoken }}{% else %}0e83e7dfb126b1e6fdd195531e2ddb1d{% endif %}"/>
	    <input type="submit" name="submit" value="Submit"/>
	</form><br/>
	<p>
		Sig: <b>{% if sig %}{{ sig }}{% endif %}</b>
	</p>
	
	<p>
	    {% if sig %}
		Example: 
		<a href="{{ url('APIHgwV4Bundle_get_content_recents', {'country_code': 'sg'}) }}?session_token={{ sessiontoken }}&sig={{ sig }}" target="_blank">
			{{ url('APIHgwV4Bundle_get_content_recents', {'country_code': 'sg'}) }}?session_token={{ sessiontoken }}&sig={{ sig }}
		</a>
		{% endif %}
	</p>
</div>