{% extends "inSingFrontendBundle::layout.html.twig" %}
{% block title %}{{ getParameter('insing_frontend_sitemap_title') }}{% endblock %}
{% block metaDescription %}{{ getParameter('insing_frontend_sitemap_meta_description') }}
{% endblock %}
{% block body %}
<div id="page-container" class="page-static">
        <div class="wrapper-middle">
            <div class="static">
                <h3 class="title-s-m first">About InSing</h3>
                <h1 class="title-l">Site Map</h1>

                <div class="info-container">
                    <p>inSing.com guides you on what to do and what to buy in Singapore. Hunt for the best food, seek out Singapore's best restaurants, and be in the know of the hottest shopping deals. Get the latest Singapore movie show times, events, deals, travel packages, and business listings, while staying informed on the latest Singapore news.</p>
                    <ul class="channels-main">
                        <li><a href="http://search.insing.com">Business Search</a> <span>An A-Z directory of Singapore's best businesses.</span></li>
                        <li><a href="http://food.insing.com">Hungrygowhere</a> <span>All you need to know about food and drink in Singapore. We review and rate the best restaurants, hawker stalls, bars and buffets.</span></li>
                        <li><a href="http://movies.insing.com">Movies</a> <span>The go-to guide in Singapore for all the latest movies, showtimes, reviews and news.</span></li>
                        <li><a href="http://events.insing.com">Events</a> <span>Keeping you abreast of all the latest events and what to do in Singapore.</span></li>
                        <li><a href="http://features.insing.com">Features</a> <span>All the latest news and opinions happening in Singapore.</span></li>
                        <li><a href="http://book.hungrygowhere.com">HungryDeals</a> <span>HungryGoWhere offers you the best restaurant booking and reservation in Singapore. Free restaurant reservation and instant confirmation.</span></li>
                    </ul>

                    <h4><a href="/">inSing Home</a></h4>
                    <ul class="sitemap-main">
                        <li class="hgw">
                            <h4><a href="http://food.insing.com">Hungrygowhere</a></h4>
                            <ul>
                                <li><a href="http://food.insing.com/restaurants">Restaurants</a></li>
                                <li><a href="http://food.insing.com/hawker-food">Hawker Food</a></li>
                                <li><a href="http://food.insing.com/bars-pubs-clubs">Bars, Pubs and Clubs</a></li>
                                <li><a href="http://food.insing.com/reviews">Latest Reviews</a></li>
                                <li><a href="http://food.insing.com/recipes">Recipes</a></li>
                                <li><a href="http://food.insing.com/dining-deals">Dining Deals</a>
                                    <ul>
                                        <li><a href="http://food.insing.com/cs/bars-pubs?promotions=true">Bars, Pubs and Clubs Deals</a></li>
                                        <li><a href="http://food.insing.com/cs/restaurants?promotions=true">Restaurant Deals</a></li>
                                    </ul>
                                </li>
                                <li><a href="http://food.insing.com/food-gallery">Food Gallery</a></li>
                            </ul>
                        </li>

                        <li class="movies">
                            <h4><a href="http://movies.insing.com">Movies</a></h4>
                            <ul>
                                <li><a href="http://movies.insing.com/now-showing">Now Showing</a></li>
                                <li><a href="http://movies.insing.com/coming-soon">Coming Soon</a></li>
                                <li><a href="http://movies.insing.com/photo-galleries">Photo Galleries</a></li>
                                <li><a href="http://movies.insing.com/trailers">Trailers</a></li>
                                <li><a href="http://movies.insing.com/showtimes">Showtimes</a></li>
                                <li><a href="http://movies.insing.com/reviews">Latest Reviews</a></li>
                                <li><a href="http://movies.insing.com/entertainment-features">Entertainment Series</a></li>
                                <li><a href="http://movies.insing.com/miotv">mioTV VOD</a></li>
                                <li><a href="http://movies.insing.com/series/@Series_TrailerFeature">Trailer Features</a></li>
                                <li><a href="http://movies.insing.com/series/@now-showing_MovieFeature">Movie Features</a></li>
                            </ul>
                        </li>

                        <li class="events">
                            <h4><a href="http://events.insing.com">Events</a></h4>
                            <ul>
                                <li><a href="http://events.insing.com/art-performing-arts">Art &amp; Performing Arts</a></li>
                                <li><a href="http://events.insing.com/fairs-festivals">Fairs &amp; Festivals</a></li>
                                <li><a href="http://events.insing.com/kids-family">Kids &amp; Family</a></li>
                                <li><a href="http://events.insing.com/leisure-sports">Leisure &amp; Sports</a></li>
                                <li><a href="http://events.insing.com/music-nightlife">Music &amp; Nightlife</a></li>
                                <li><a href="http://events.insing.com/night-out">Night Out</a></li>
                                <li><a href="http://events.insing.com/swap-place">Swap-Place</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="sitemap-main">
                        <li class="news">
                            <h4><a href="http://features.insing.com">Features</a></h4>
                            <ul>
                                <li><a href="http://features.insing.com/singapore">Singapore News</a></li>
                            </ul>
                        </li>

                        <li class="business">
                            <h4><a href="http://search.insing.com">Business Search</a></h4>
                            <ul>
                                <li><a href="http://search.insing.com/categories/subcat/arts-entertainment">Arts &amp; Entertainment</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/automotive-motorcycles">Automotive &amp; Motorcycles</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/banking-finance">Banking &amp; Finance</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/beauty-spa">Beauty &amp; Spa</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/business-professional-services">Business &amp; Professional Services</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/commercial-services">Commercial Services</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/computers-electronics">Computers &amp; Electronics</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/education">Education</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/food-drink">Food &amp; Drink</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/government-organisations">Government &amp; Organizations</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/groceries-liquor">Groceries &amp; Liquor</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/home-garden">Home &amp; Garden</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/legal-services">Legal Services</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/manufacturing,-industrial-construction">Manufacturing, Industrial &amp; Construction</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/medical-dental-services">Medical &amp; Dental Services</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/other-service-activities">Other Service Activities</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/personal-services">Personal Services</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/pets-pet-care">Pets &amp; Pet Care</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/real-estate-housing">Real Estate &amp; Housing</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/shopping-retail">Shopping &amp; Retail</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/sports-recreation">Sports &amp; Recreation</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/travel-transportation">Travel &amp; Transportation</a></li>
                                <li><a href="http://search.insing.com/categories/subcat/wholesalers-trading">Wholesalers &amp; Trading</a></li>
                            </ul>
                        </li>

                        <li class="hgw">
                            <h4><a href="http://book.hungrygowhere.com">HungryDeals</a></h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
